<meta charset="UTF-8" />
<title><%- title %></title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="/public/css/index.css" type="text/css" />

<!-- Load go.js module -->
<script src="/public/javascript/go-debug.js"></script>
