<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">ELG</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/flow">Flow</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/validation">Validation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/task">Task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logOutput">Log & Output</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="dropdown nav-link"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dashboard
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/ordered">Ordered Jobs</a></li>
        <li><a class="dropdown-item" href="/agent">Agent</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/soon">Coming Soon</a>
    </li>
  </ul>
</nav>
