<header class="p-3 bg-white text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="../../../">
        <img class="white-mode-item navbar-brand-item" src="../../../Image/suppauto.png" alt="logo">
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="../../../flow" class="nav-link px-2 text-dark">Flow</a></li>
        <li><a href="../../../information" class="nav-link px-2 text-dark">Information</a></li>
        <li><a href="../../../statistic" class="nav-link px-2 text-dark">Statistics</a></li>
        <!-- <li><a href="../../../Dashboard" class="nav-link px-2 text-dark">Dashboard</a></li> -->
        <div class="btn-group">
          <button type="button" class="btn btn-outline dropdown-toggle dropdown-toggle-transparent" data-bs-toggle="dropdown" aria-expanded="false">
            Dashboard
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../../../Dashboard">Dashboard Monitoring</a></li>
            <li><a class="dropdown-item" href="../../../DashboardHistory">Dashboard History</a></li>
            <li><a class="dropdown-item" href="../../../DashboardNotOk">Dashboard Not OK</a></li>
          </ul>
        </div>
        <li><a href="../../../FAQs" class="nav-link px-2 text-dark">FAQs</a></li>

      </ul>
      <!--<div class="text-end">
        <button type="button" class="btn btn-outline me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>-->
    </div>
  </div>
</header>