body {
	padding-top: 10px;
}
.task-card {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	margin: 0px;
	padding: 20px;
}

.task-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.task-title {
	font-size: 20px;
	margin: 0;
	border: black;
}

.task-due-date {
	color: grey;
	font-size: 16px;
	margin: 10px 0;
}

.task-priority {
	color: red;
	font-size: 16px;
	margin: 10px 0;
}

.task-completion {
	display: flex;
	align-items: center;
}

.task-completion input[type="checkbox"] {
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: #ddd;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-right: 10px;
}

.task-completion input[type="checkbox"]:checked {
	background-color: #4caf50;
}

.task-completion label {
	font-size: 16px;
	color: #666;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 15px;
	grid-auto-rows: minmax(150px, auto);
	grid-auto-flow: row;
	/* Hide the grid by default */
	display: none;
}

.grid-item {
	background-color: rgb(255, 255, 255);
	/* Add any other styles you need */
}

@media (max-width: 600px) {
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* Styling for the "show/hide tasks" link */
.task-link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
