<footer class="pt-5">
  <div class="container">
    <div class="card card-body shadow p-4">
      <!-- Row START -->
      <div class="row g-4">
        <!-- Widget 1 START -->
        <div class="col-lg-3">
          <!-- logo -->
          <a class="me-0">
            <img class="light-mode-item h-40px" src="../Image/suppauto.png" alt="logo">
          </a>
          <p class="my-3">Web yang menampilkan flow, informasi dan statistik job Control-M.</p>

        </div>
        <div class="col-lg-6">
          <div class="row g-4">

          </div>
        </div>

        <!-- Widget 3 START -->
        <div class="col-lg-3">
          <h5 class="mb-2 mb-md-4">Contact</h5>
          <p class="mb-0">Email:<span class="h6 fw-light ms-2">SuppAuto@bca.co.id</span></p>
        </div>
        <!-- Widget 3 END -->
      </div><!-- Row END -->

      <!-- Divider -->
      <hr class="mt-4 mb-0">
      
    </div>
</footer>
</main>
</body>

</html>