<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--<link href="/DataTables/datatables.css" rel="stylesheet">-->
  <link href="/DataTables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
  <link
  href="https://fonts.googleapis.com/css?family=Press Start 2P"
  rel="stylesheet"
	/>
  <link rel="stylesheet" href="/css/contextMenu.css">
  <script src="/javascript/go-debug.js"></script>
  <link rel="stylesheet" href="/css/searchMenu.css">
  
    <!--     Fonts and icons     -->
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />

  <title><%= title %> </title>
</head>

<body>