<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<link rel="stylesheet" type="text/css" href="/public/css/task.css" />
	</head>
	<body>
		<header><%- include('../partials/header.ejs') %></header>

		<main>
			<div
				style="position: relative; padding-top: 10px; padding-bottom: 10px"
				class="container"
			>
				<h1>Task Planner</h1>

				<br />
				<button id="toggle-grid">Toggle Grid</button>
				<a class="task-link" onclick="toggleVisibility()">Show/hide tasks</a>
				<div class="grid-container">
					<div class="grid-item">
						<div class="task-card">
							<h2 class="task-title">SR AAA</h2>
							<p class="task-due-date">Due: Today</p>
							<p class="task-priority">Priority: High</p>
							<div class="task-completion">
								<input type="checkbox" id="completion-checkbox" />
								<label for="completion-checkbox">Checker</label>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="task-card">
							<h2 class="task-title">SR BBB</h2>
							<p class="task-due-date">Due: Today</p>
							<p class="task-priority">Priority: High</p>
							<div class="task-completion">
								<input type="checkbox" id="completion-checkbox" />
								<label for="completion-checkbox">Checker</label>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="task-card">
							<h2 class="task-title">SR BBB</h2>
							<p class="task-due-date">Due: Today</p>
							<p class="task-priority">Priority: High</p>
							<div class="task-completion">
								<input type="checkbox" id="completion-checkbox" />
								<label for="completion-checkbox">Checker</label>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="task-card">
							<h2 class="task-title">SR BBB</h2>
							<p class="task-due-date">Due: Today</p>
							<p class="task-priority">Priority: High</p>
							<div class="task-completion">
								<input type="checkbox" id="completion-checkbox" />
								<label for="completion-checkbox">Checker</label>
							</div>
						</div>
					</div>
					<div class="grid-item">Template</div>
					<!-- Add as many items as you need -->
				</div>
			</div>

			<br />
		</main>

		<footer><%- include('../partials/footer.ejs') %></footer>

		<script>
			var toggleGridButton = document.querySelector("#toggle-grid");
			var gridContainer = document.querySelector(".grid-container");

			// Add click event listener to the button
			toggleGridButton.addEventListener("click", function () {
				// Toggle the display of the grid container
				gridContainer.style.display =
					gridContainer.style.display == "grid" ? "none" : "grid";
			});

			toggleVisibility = () => {
				// Toggle the display of the grid container
				gridContainer.style.display =
					gridContainer.style.display == "grid" ? "none" : "grid";
			};
		</script>
	</body>
</html>
